
<app-toast [message]="toast.message"></app-toast>



<div class="card" >
  <h4 class="card-header">Welcome. I am a shipping robot. Together we are going to make the world a better place</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]='articlesForm' (ngSubmit)="onSubmit()">
      <input class="form-control mr-2 col-md-5" type="text" name="articles"
             formControlName="articles" placeholder="articles">

      <input class="form-control mr-2 col-md-5" type="number" name="capacity"
             formControlName="capacity" placeholder="capacity : by default 10" min="1">

      <button class="btn btn-primary" type="submit" [disabled]="!articles.value">
        <i class="fas fa-box"></i> Ship
      </button>
    </form>
  </div>
</div>

<div class=" card mr-5" *ngIf="unoptimizedBoxes || optimizedBoxes">
  <h4 class="card-header text-center">You see the difference !!!</h4>
  <div class="card-body col-md-5">
  <h5 class="text-center">Unoptimized : </h5>
  <input *ngFor="let box of unoptimizedBoxes;" class="form-control text-center mr-2 "  type="text" name="articles" readonly
          value="{{box}}">




</div>
  <div class="card-body col-md-5">
    <h5 class="text-center">optimized :  </h5>
    <input *ngFor="let box of optimizedBoxes;" class="form-control text-center mr-2 " type="text" name="articles" readonly
           value="{{box}}">
  </div>
</div>
